// BASIC COLORS
$red: red;
$black: black;
$white: white;

$background_color: #363740;
$font_size: 16px;

// DEFAULTS
$sidebar_width-web: 230px;
$sidebar_width-tab: 70px;
$sidebar_width-phone: 50px;

$font_size-title: 19px;
$sb_background_color: #363740;
$sb_background_color_btn:#3D4049;
$sb_color: #D8DBEB;
$sb_color_btn:#A4A6B3;
$sb_title_box: 5em;


//THEME
$primary_theme_color: #363740;
$secondary_theme_color: #3D4049;
$tertiary_theme_color: #F5F5F5;


//FONT COLOR
$primary_font_color:#D8DBEB;
$secondary_font_color:#A4A6B3;
$tertiary_font_color:#000;

//FONT SIZE

$primary_font_size: 19px;
$secondary_font_size: 16px;
$tertiary_font_size: 11px;
$title_font_size:30px;



// ICONS LIST
// https://fontawesome.com/icons?d=gallery